

/*--------General---------------*/
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 0.625em;
    color: #4D4D4D;
}

.content-text{
font-size: 2.1em
}
.content-semi-bold{
    font-weight: 600;
}

h1{
    font-family: 'Merriweather', serif;
    font-size: 3em;
    font-weight: 700;
    color:#3F88FB
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 3em;
    font-weight: 700; 
}
h3{
    font-family: 'Merriweather', serif;
    font-size: 2.1em;
    font-weight: 700; 
    color:#3F88FB

}
p{ 
    font-size: 2.1em;   
}
img{
    align-self: center
}
.link{
    color: #4D4D4D;
    text-decoration: underline;
    font-weight: 600;
}
.thin-link{
    color: #4D4D4D;
    text-decoration: underline;
}

.small-text{
    font-si ze: 0.8rem
}

/*---------Nav bar---------------*/

nav a.navbar-brand {
  font-family: 'Merriweather', serif;
  font-size: 2em;

  
}
nav a.navbar-brand span {
    font-family: 'Work Sans', sans-serif;


  }
nav a.nav-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
   
}
nav .nav-item.active a.nav-link{
    font-weight: bold;

}



/*---------------Main-------------*/
h1.display-1{
    font-size: 3.6em;
    font-weight: 900;
    color:#4D4D4D
}
.container .row.main{
margin-top: 25vh;
margin-bottom: 40vh;
}
.main .d-flex{
    height:  100%;
}
.main .d-flex a {
    text-decoration: underline;
    color: #4D4D4D;
    font-weight: 600;
    
}


#fab{
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 9999;
    padding: 8px 12px 8px 12px; 
    font-size: 16px;
    font-weight: 600;
    background-color: #166EF8;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    
}
#fab:hover{
    font-size: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    transition: 100ms;
    
}

#scrollToTopButton{
    position: fixed;
   
    padding: 8px; 
    bottom: 1em;
    right: 10em;
    opacity: 0; 
    visibility: hidden;
    z-index: 9999;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}
#scrollToTopButton.show{
    visibility: visible;
    opacity: 1;
}
/*-------------------------About--------------------*/
h1.display-2{
    font-size: 3.6em;
    font-weight: 900;
    color:#4D4D4D;
    line-height: 1.6em;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
.facts-about-me li, .beliefs li{
    margin: 1em 0;
}
.quote{
    font-family: 'Merriweather', serif;
    font-weight: 700; 
    text-align: center;
    margin-bottom: 0;
}
#testimonials .carousel-indicators li{
 background-color: rgb(201, 201, 201);
 position:relative;
 top:3em;
}
#testimonials .carousel-indicators li.active  {
    background: #4D4D4D;
   }


.carousel-control-next-icon{
    outline: #4D4D4D;
}
#download-cv{
border-radius: 5em;
font-weight: 500;
border-width: 2px;
color: #4D4D4D;
}
#download-cv:hover{
    color: white;
    background: #4D4D4D;
}

/*----------HabiQods--------------*/
body.habiqods .navbar-light .navbar-nav .nav-link,
body.habiqods .navbar-light .navbar-nav .nav-link:focus,
body.habiqods .navbar-light .navbar-nav .nav-link:hover{
    color: white;
  }
body.habiqods nav a.navbar-brand span {
      color: white;
    }

    body.habiqods nav a.nav-link {
      color: white;
  }
  body.habiqods nav .nav-item.active a.nav-link{
      color: white;
  
  }
  body.habiqods .navbar-light .navbar-brand:focus,
  body.habiqods .navbar-light .navbar-brand,
  body.habiqods .navbar-light .navbar-brand:focus,
  body.habiqods .navbar-light .navbar-brand:hover{
      color:white;
  }
  body.habiqods{
    background-color: black;
    color: white;
}
body.habiqods h1{
    color: #C1912D;
}

  
  /*----------HabiQods--------------*/
  


   /* ----------Small devices-------*/
@media (max-width: 720px) {
    .my-nav {
          background-color:white;
    }
    h1.display-1{
        text-align: center;
        
    }
    h1.display-2{
       font-size: 2.1em
        
    }
    h2{
        font-size: 2.1em
    }
    h3{
        font-size: 1.6em
    }
    p{ 
            font-size: 1.6em;   
    }
    .main .d-flex p {
        text-align: center;
        font-size: 2.1em;   
    }
    .facts-about-me li, .beliefs li{
        margin: 1em 0;
        font-size: 1.6em;
    }
    .carousel-indicators li {
        width: 4px;
        height: 4px;
        border-radius: 100%;
      }
     
    
}
